@font-face {
    src: url('../../fonts/Inder/Inder-Regular.woff') format('woff');
    font-family: 'Inder';
}

@font-face {
    src: url('../../fonts/NovaSquare.woff') format('woff');
    font-family: 'NovaSquare';
}

.header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(10, 68, 103, 0.55);
    padding-top: 14px;
}

.header_grey {
    background-color: #E5E5E5;
}

.header__content {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    margin: auto;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 12px;
}

.header__button {
    background-image: url('../../images/logobut.svg');
    height: 50px;
    width: 50px;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.header__logo {
    margin-left: 290px;
}

.header__logo_center {
    margin-left: 0;
    margin-right: 120px;
}

.header__input {
    background: #E8E8E8;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #094567;
    border: 0;
    outline: none;
    padding-left: 7px;
    width: 165px;
    height: 26px;
}

.header__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__log {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #094567;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 0px;
    margin: 0px;
    background: transparent;
    margin-left: 22px;
    text-decoration: none;
}

.header__menu{
    z-index: -10;
    position: fixed;
    top: -400px;
    left: -400px;
    width: 1000px;
    height: 1000px;
    background-color: #EFD00C;
    border-radius: 500px;
    transition: 1s;
    opacity:0;
}

.header__menu_show{
    z-index: 100;
    transition: 1s;
    opacity: 1;
}

.header__menuLogo {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 13px;
    left: 0px;
    background-image: url('../../images/logobut.svg');
    height: 50px;
    width: 50px;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.ac {
    position: fixed;
    top: 92px;
    left: 76px;
    font-family: 'NovaSquare';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    color: #4F5A70;
    text-decoration: none;
}

.inv {
    position: fixed;
    top: 183px;
    left: 76px;
    font-family: 'NovaSquare';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;

    color: #4F5A70;
    text-decoration: none;
}

.new {
    position: fixed;
    top: 276px;
    left: 76px;
    font-family: 'NovaSquare';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    
    color: #4F5A70;
    text-decoration: none;    
}

.cl {
    position: fixed;
    top: 365px;
    left: 76px;
    font-family: 'NovaSquare';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-decoration: none;
    color: #4F5A70;
}

.header__start {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 41px;
    /* identical to box height */
    
    text-decoration-line: underline;
    
    color: #018BAF;
}

.blur {
    z-index: 1;
    display: none;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 1s;
    opacity:0;
  }
  
  
  .blur_show {
    display: flex;
    transition: 1s;
    opacity: 1;
  }